* * * * * [Name="HTTP Test" Executor=http] [URL="https://httpbin.org/get" Method=get]
* * * * * [Executor=http] [URL="https://httpbin.org/status/404" Method=get]
@daily [Name="Local" Executor=local] [touch /tmp/test.file]
